/* font defs uwu */
@font-face {
	font-family: Scr10;
	src: url(../fnt/Scr10.woff2);
}
@font-face {
	font-family: Scr14;
	src: url(../fnt/Scr14.woff2);
}
@font-face {
	font-family: Scr18;
	src: url(../fnt/Scr18.woff2);
}
@font-face {
	font-family: 'Comicoro';
	src: url(../fnt/Comicoro.woff2);
}
@font-face {
	font-family: 'Lilian';
	src: url(../fnt/Lilian.woff2);
}

/* variables */
:root {
	--vista-taskbar: linear-gradient(to bottom, #54545477 0%,#b4b5b577 3%,#8b8c8c77 7%,#86878777 14%,#7d7e7e77 21%,#48494a77 48%,#1b1d1f77 52%,#18191b77 93%,#17191a77 97%,#13141577 100%);
	--vista-taskbar-opaque: linear-gradient(to bottom, #545454cc 0%,#b4b5b5cc 3%,#8b8c8ccc 7%,#868787cc 14%,#7d7e7ecc 21%,#48494acc 48%,#1b1d1fcc 52%,#18191bcc 93%,#17191acc 97%,#131415cc 100%);
}

/* hehe modify html element default styles :3c */
html { overflow-x: hidden; }
body {
	margin: 0;
	font-family: 'Comicoro';
	image-rendering: pixelated;
	color: #000017;
	background-color: #000017;
	background-image: url(../img/meow.png);
	background-size: 256px;
	
	overflow-x: hidden;
}
h1, h2, h3, h4 {
	font-family: 'Lilian';
	background: linear-gradient(to right, #741291FF 0%, #550066FF 50%, #55006600 100%);
	text-shadow: 0px 0px 8px #FF99CC;
	margin-left: -24px;
	padding-left: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
}
h1 { font-size: 28px; color: #f1ccff;}
h2 { font-size: 25px;}
h3 { font-size: 21px;}
h4 { font-size: 18px;}

ul {
	list-style-image: url('../img/disc.png');
}
ul > li {
	line-height: 50%;
	margin-bottom: 15px;
}

/* sidebar stuff */
.sidebar {
	z-index: 2;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 256px;
	float: left;
	height: 100%;
	min-height: 100vh;
	line-height: 65%;
	font-size: 32px;
	background-image: url(../img/sidebartest.gif);
	color: white;
	border-right: 4px #741291 groove;
}
.text-scroller {
	height:32px;
	width:100%;
	margin-top: -3px;
	font-family: 'Scr18';
	font-size: 18px;
	background: linear-gradient(to bottom, rgba(231,218,248,0.45) 0%,rgba(186,167,239,0.45) 4%,rgba(169,137,233,0.45) 11%,rgba(153,120,230,0.45) 18%,rgba(144,99,227,0.45) 21%,rgba(139,93,225,0.45) 25%,rgba(123,67,221,0.45) 29%,rgba(119,60,220,0.45) 32%,rgba(98,39,215,0.45) 36%,rgba(95,35,199,0.45) 43%,rgba(75,28,162,0.45) 54%,rgba(69,26,154,0.45) 61%,rgba(61,23,143,0.45) 64%,rgba(65,23,137,0.45) 79%,rgba(61,21,131,0.45) 82%,rgba(61,22,134,0.45) 89%,rgba(66,25,147,0.45) 93%,rgba(95,38,210,0.45) 96%,rgba(26,9,59,0.45) 100%);
	backdrop-filter: blur(4px);
	line-height: 100%;
	text-align: center;
}
.marquee {
	line-height: 32px;
	white-space: pre;
	width: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	background-image: linear-gradient(to bottom, rgba(20,255,28,1) 0%,rgba(41,154,11,1) 100%)
}
.sidebar > span {
	text-shadow: 0px 0px 6px #d973f0, 0px 0px 6px #d973f0, 0px 0px 6px #d973f0;
	color: #f1ccff;
	display: block;
	text-align: center;
}
.sidebar > ol {
	list-style-type: none;
	text-align: left;
	padding-left: 0px;
	font-size: 21px;
	font-family: 'Lilian';
	flex: 1;
}
.sidebar > ol > li {
	padding-top: 4px;
	padding-bottom: 4px;
}
.sidebar > ol > li:hover {
	background: linear-gradient(to bottom, #55006600 0%,#550066FF 50%,#55006600 100%);
}
.sidebar > ol > li > a {
	color: #ffd9ff;
	text-shadow: 0px 0px 6px #8662e3;
	text-decoration: none;
	padding-left: 10px;
}
.sidebar > ol > li > a:hover {
	color: #CBA1FF;
}
.sidebar > ol > li > a > img {
	filter: drop-shadow(0px 0px 4px #9f7aff);
}

/* sidebar footer */
.sidebar-footer {
	width: 100%;
	text-shadow: 0px 0px 6px #d973f0, 0px 0px 6px #d973f0, 0px 0px 6px #d973f0;
	color: #f1ccff;
	text-align: center;
	padding-bottom: 10px;
	background: linear-gradient(to top, #af20b4, #FFFFFF00);
}
.sidebar-footer > p { padding: 0; margin: 0; }
.sidebar-footer > p > a {
	color: white;
	text-shadow: 0px 0px 8px #FF99CC, 0px 0px 8px #FF99CC;
	font-family: 'Scr10';
	font-size: 10px;
}

.center-badge {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 99px;
}
.center-badge > img { filter: drop-shadow(0px 0px 6px #59cf93) }

.zenkitty {
	text-shadow: 0px 0px 6px #4263f5, 0px 0px 6px #4263f5, 0px 0px 6px #4263f5;
	color: #a8c8ff;
}
.ashiekitty {
	text-shadow: 0px 0px 6px #8940ff, 0px 0px 6px #8940ff, 0px 0px 6px #8940ff;
	color: #e0c2ff;
}

/* page containers */
.page-container {
	box-sizing: border-box;
}
.page-content {
	padding: 20px;	
	margin-left: 260px;
	color: white;
	display: inline-block;
	width: calc(100vw - 301px);
	height: 100%;
}
.page-content > p {
	font-size: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.page-content > a, .page-content > p > a {
	font-size: 24px;
	color: #99CCFF;
    text-shadow: 0px 0px 6px #99FFCC;
}

.page-footer {
	position: absolute;
	bottom: 8px;
	left: 256px;
	margin-left: 24px;
}

/* feed stuff */
.feed { font-size: 24px; }

.feed > h3 {
	background: linear-gradient(to right, #321291FF 0%, #123291FF 50%, #12329100 100%);
	text-shadow: 0px 0px 8px #99ccff;
	color: #d9ccff;
	width: 75%;
}
update:before {
    content: url(../img/globe.png);
}

.feed > h2 {
	font-size: 21px;
	text-shadow: 0 0 6px #ffa366;
	color: #ffffd9;
	background: linear-gradient(to right,#d23c00 0,#ae5400 50%,#661d0000 100%);
	width: 75%;
}
news:before {
    content: url(../img/blog.png);
}

.refresh-feed {
    font-family: 'Comicoro';
    font-size: 24px;
    text-shadow: 0px 0px 4px #ffa366;
    transition: text-shadow 0.5s;
    color: #fff;
    box-sizing: border-box;
    border: none;
    background: #8d40ac;
    box-shadow: inset -2px -2px #3b044b, inset 2px 2px #e2b0ff, inset -4px -4px #783b80, inset 4px 4px #ca86df;
    border-radius: 0;
    
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
    margin-top: 3px;
    vertical-align: top;
}
.refresh-feed:hover {
    text-shadow: 0px 0px 8px #ffa366, 0px 0px 8px #ffa366;
}
.refresh-feed:active {
    background: #64287c;
    box-shadow: inset -2px -2px #e2b0ff, inset 2px 2px #3b044b, inset -4px -4px #ca86df, inset 4px 4px #783b80;
}

.welcome {
	max-width: 100%; 
	height: auto;
	image-rendering: auto;
}
.construction {
    text-shadow: 0px 0px 8px #ffa366;
    color: #ffcca9;
}
.construction > img {
    vertical-align: middle;
    filter: drop-shadow(0px 0px 6px #ffa366);
}

/* projects page cards */
/* why did i have to put so much effort into these */
.card {
    position: relative;
    display: block;
    margin-top: 20px;
    width: 50vw;
    max-width: 640px;
    border-radius: 5px;
    background: #000b13;
}
/* diy box shadow lmao */
.card::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    transition: 1s;
    filter: blur(5px);
    background: linear-gradient(to right, #ff89ff, #6bf3ff);
}
.card:hover::before {
    filter: blur(10px);
}

.card-header {
    font-family: 'Lilian';
    font-size: 30px;
    margin: 0;
    padding: 8px 8px 8px 16px;
    background: linear-gradient(to right, #3f183f, #0f3a41);
    text-shadow: 0px 0px 8px #FF99CC;
    box-shadow: inset 0px -48px 24px -24px #000b13;
}
.card-header > span > img {
    display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 4px #FF99CC);
}
.icons {
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline;
    position: absolute;
    right: 16px;
    width: 100%;
}
.icons > a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
    filter: drop-shadow(0px 0px 4px #ff6bce);
}
.icons > a:hover {
    color: #c3ffe8;
    filter: drop-shadow(0px 0px 8px #6bf3ff);
}
.card > p {
    display: inline-block;
    margin: 0;
    padding: 8px 16px 16px 16px;
    font-size: 24px;
    width: 100%;
    max-width: fit-content;
    text-shadow: 0px 0px 4px #FF7777;
}
/* they told me webdev was fun */
#active {
    font-size: 22px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #bdffbd;
    text-shadow: 0px 0px 4px #4eda42;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #142213;
    background: linear-gradient(to right, #195e19, #142213);
}
#inactive {
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffbdbd;
    text-shadow: 0px 0px 4px #da4242;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #221313;
    background: linear-gradient(to right, #5e1919, #221313);
}
#on-hold { /*nyanyanyanyanyanyanyanyanyanyanyanyanyanyanyanya*/
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffedbd;
    text-shadow: 0px 0px 4px #ffed4f;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #221d13;
    background: linear-gradient(to right, #5e5419, #221d13);
}
#active > img, #inactive > img, #on-hold > img {
    display: inline-block;
    vertical-align: middle;
}

.link { text-decoration: none; margin-bottom: -8px; display: block; }
.link:hover { text-decoration: underline; }

.link > img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
}

#tw { box-shadow: 0px 0px 6px #99c9ff; }
#gh { box-shadow: 0px 0px 6px #da99ff; }
#yt { box-shadow: 0px 0px 6px #ff9999; }
#rd { box-shadow: 0px 0px 6px #ffca99; }
#ds { box-shadow: 0px 0px 6px #c099ff; }

/* uwu nya mew mew :3 */
.navButton { /* normally invisible on desktop */
    position: fixed;
    top: 64px;
    left: -256px;
    background-color: #741291;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background: linear-gradient(to right, #741291FF 0%, #550066FF 50%, #55006600 100%);
    border: none;
    outline: none;
	image-rendering: auto;
	visibility: hidden;
}

.navButton > img {
    width: 32px;
    padding-right: 24px;
    filter: drop-shadow(0px 0px 6px #FF99CC);
    transition: filter 0.5s;
}

.navButton:hover > img {
    filter: drop-shadow(0px 0px 6px #99ffee) drop-shadow(0px 0px 6px #99ffee);
}

/* mobile mininav */
.mobilenav {
	height: 32px;
	margin-top: -3px;
	font-family: Scr18;
	font-size: 18px;
	backdrop-filter: blur(4px);
	line-height: 100%;
	position: fixed;
	top: 3px;
	left: -256px;
	visibility: hidden;
	width: 100vw;
	z-index: -4;
	background: linear-gradient(to top, #ff8bf26e 0%,#8528a087 50%, #31133abd 100%);
}
.mobilenav > div { 
	overflow-x: scroll;
	overflow-y: visible;
	white-space: nowrap;
	line-height: 36px;
	width: calc(100% - 45px);
	display: inline-block;
	position: relative;
	left: 45px;
}
.mobilenav > div > a {
 color: #ffd9ff;
 position:relative;
text-shadow: 0px 0px 6px #8662e3;
  text-decoration: none;
  padding-left: 8px;
  display: inline-block;
  top: 0px;
}
.mobilenav > div > a:before {
	content:' ';
	display:block;
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 32px;
	opacity: 0.4;
	image-rendering: auto;
	background-image: url('../img/portabledeviceimageoverlaysignifyingaphysicalbutton.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-right: 8px;
	margin: 0;
	z-index: -2;
}
.start-button {
	top:-7px;
	left:2px;
	width:40px;
	height:44px;
	background-image: url('../img/zenstart.png');
	background-size: 54px 162px;
	display: inline-block;
	position: absolute;
	background-position: -7px 0px;
}
.start-button:hover {
	background-position: -7px 108px;
}
.start-button:active {
	background-position: -7px 54px;
}


/* guestbook things */

flexbr {
    flex-basis: 100%;
    height: 0;
}
.guestbook {
    display: flex;
    flex-flow: row wrap;
    font-size: 32px;
    max-width: 640px;
    margin-bottom: 32px;
}

.guestbook > p {
    margin: 0;
    padding-top: 12px;
    display: inline-flex;
    flex: 1;
}

.guestbook > p > label { 
    flex: none;
    display: block;
    width: 80px;
    text-align: right;
    padding-right: 8px;
}
.guestbook > p > label > span {
    text-shadow: none;
    bottom: 16px;
    position: relative;
}

.guestbook > p > input {
    display: block;
    flex: 1 0 auto;
    margin: 4px;
}
.guestbook > p > textarea {
    margin: 4px;
    height: 64px;
    flex: 1 0 auto;
    box-sizing: border-box;
    resize: none;
}

.postButton {
    font-family: 'Comicoro';
    font-size: 32px;
    text-shadow: 0px 0px 4px #9c94ff;
    transition: text-shadow 0.5s;
    color: #fff;
    box-sizing: border-box;
    border: none;
    background: #79256e;
    box-shadow: inset -2px -2px #4b0433,inset 2px 2px #ff8bd9,inset -4px -4px #712356,inset 4px 4px #9d517d;
    border-radius: 0;
    
    min-width: 75px;
    min-height: 23px;
}
.postButton:hover {
    text-shadow: 0px 0px 6px #9c94ff, 0px 0px 8px #9c94ff;
}
.postButton:active {
    background: #5e1955;
    box-shadow: inset -2px -2px #ff8bd9, inset 2px 2px #4b0433, inset -4px -4px #9d517d, inset 4px 4px #712356;
}
#postBtn { justify-content: right; margin-right: 4px }
/*fuorkc yoy btich*/
#name {
    color: #99CCFF;
    text-shadow: 0px 0px 6px #99FFCC;
}
#email {
    text-shadow: 0px 0px 6px #8940ff;
    color: #e0c2ff;
}
#message {
    display: block;
    color: #fff;
    text-shadow: 0px 0px 6px #FF99CC;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #102;
    font-family: Scr14;
    font-size: 14px;
    border: 2px #860086 inset;
    transition: border 0.3s, box-shadow 0.3s;
}
input:focus, textarea:focus {
    outline: none;
    border: 2px #7332ed solid;
    box-shadow: 0px 0px 8px #8f5eff;
}

hr {
    color: #ad008a;
    box-shadow: 0px 0px 8px #ff41b5;
    border: 1.5px solid;
}

/* guestbook entries */

.gb-entries { margin-top: 32px; margin-right: 4px; }

.gbe {
    display: block;
    background-color: #11143c;
    border-radius: 5px;
    max-width: 640px;
    min-height: 96px;
    margin-bottom: 16px;
    font-size: 32px;

    box-shadow: 0px 0px 8px #8f5eff;
    transition: box-shadow 0.5s;
}
.gbe:hover {
    box-shadow: 0px 0px 16px #8f5eff;
}
.gbe-header {
    background: linear-gradient(to bottom,#3d2594,#11143c);
    border-radius: 5px;
}
.gbe-header > p {
    display: inline;
    margin: 0;
    text-shadow: 0px 0px 6px #FF99CC;
}
.gbe-name {
    padding-left: 16px;
    float: left;
}
.gbe-timestamp {
    float: right;
    padding-right: 16px;
    color: #99ccff;
    text-shadow: 0 0 6px #6bffc6 !important;
}
.gbe-email {
    display: block!important;
    padding-left: 16px;
    font-size: 14px;
    font-family: Scr14;
    color: #99ccff;
}
.gbe > p {
    margin: 16px;
    font-size: 18px;
    font-family: Scr18;
    overflow-wrap: break-word;
    padding-bottom: 16px;
}

/* alternating card theming bc why not uwu */
.gbe:nth-child(odd) {
    background-color: #1a001f;
    box-shadow: 0px 0px 8px #ff89ff;
}
.gbe:nth-child(odd):hover {
    box-shadow: 0px 0px 16px #ff89ff;
}
.gbe:nth-child(odd) > .gbe-header {
    background: linear-gradient(to bottom,#3f183f, #1a001f);
}
.gbe:nth-child(odd) > .gbe-header > .gbe-timestamp {
    color: #da78dd;
    text-shadow: 0 0 6px #ff89ff !important;
}
.gbe:nth-child(odd) > .gbe-header > .gbe-email {
    color: #99ccff;
    text-shadow: 0 0 6px #6bffc6 !important;
}

/* my tech stuff */
.tdiv { overflow: visible; max-width: 100%; }
table {
    min-width: 480px;
    max-width: 720px;  
    border: 4px ridge #da006d;
    background-color: #310019;
    border-collapse: collapse;
    box-shadow: 0px 0px 8px #D06;
}
tbody, th, td {
    border: 1px solid #850042;
    padding: 2px;
	font-weight: 400;
}
th { 
    background-color: #310019;
    background-image: url('../img/dither-header.png');
    font-size: 24px; 
    text-shadow: 0px 0px 8px #F9C; 
    border: none;
}
td {
    font-size: 24px;
}
td > img, th > img {
    width: 16px;
    vertical-align: middle;
}
td#ico, th#ico > img { text-align: center; filter: drop-shadow(0px 0px 4px #F9C); }

.parts {
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
}
.parts > ul { padding: 0; list-style-type: none; list-style-image: none;}
.parts > ul > li {
    font-size: 24px;
    text-shadow: none;
}
.parts > ul > li > img {
    filter: drop-shadow(0px 0px 2px #F9C);
}

.partsbtn::before {
    content: ':arrow_forward:  ';
    font-size: 16px;
}
.partsbtn[open]::before {
    content: '▼  ';
}

.partsbtn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: none;
    font-family: Comicoro;
    font-size: 24px;
    text-align: left;
    background-color: #850042;
    color: #FFF;
    transition: color 0.3s, text-shadow 0.3s;
    margin-left: -6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 8px;
}
.partsbtn:hover {
    color: #f8c5ff;
    text-shadow: 0px 0px 8px #E9F;
}

/* this is extremely excessive uwu */
#glow-cat {filter:drop-shadow(0px 0px 4px #FEE)}
#glow-dog {filter:drop-shadow(0px 0px 4px #D29F5B)}
#glow-ase {filter:drop-shadow(0px 0px 4px #FFF)}
#glow-fl {filter:drop-shadow(0px 0px 4px #F78C23)}
#glow-nppp {filter:drop-shadow(0px 0px 4px #75D032)}
#glow-sai {filter:drop-shadow(0px 0px 4px #ABC144)}
#glow-real {filter:drop-shadow(0px 0px 4px #FF8)} /* REAL????? にや~ */
#glow-vm {filter:drop-shadow(0px 0px 4px #F38B00)}
#glow-zb {filter:drop-shadow(0px 0px 4px #0E0EDF)}
#glow-hl1 {filter:drop-shadow(0px 0px 4px #F50)}
#glow-mc {filter:drop-shadow(0px 0px 4px #765F3D)}
#glow-rct2 {filter:drop-shadow(0px 0px 4px #4580E4)}
#glow-portal {filter:drop-shadow(0px 0px 4px #6ED1FF)}
#glow-mania {filter:drop-shadow(0px 0px 4px #30A0F0)}
#glow-srb2 {filter:drop-shadow(0px 0px 4px #3232FF)}
#glow-sims {filter:drop-shadow(0px 0px 4px #60EA05)}
#glow-tmuf {filter:drop-shadow(0px 0px 4px #F3EB25)}

#temp { 
  font-size: 32px;
  position: relative;
  bottom: 6px;
  font-family: 'Lilian';
}

iframe {
    border: none;
    margin-right: 4px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #8f5eff;
    margin-top: 8px;
}

.errorNotif {
    font-size: 32px;
    background-color: #4a0000;
    border-radius: 8px;
    max-width: 640px;
    background: linear-gradient(to right, #4a0000, #952036);
    margin-bottom: 8px;
    box-shadow: 0px 0px 8px #740a18;
}
.errorNotif > p {
    display: inline-block;
    margin-left: 16px;
    text-shadow: 0 0 6px #ff314e;
    color: #FBB;
    margin-top: 0px;
    margin-bottom: 0px;
	width: 80%;
}

.errorNotif > a {
    text-decoration: none;
    float: right;
    display: inline;
    margin-right: 16px;
    color: #FAC;
    text-shadow: 0 0 6px #ff314e;
    transition: 0.5s;
    position:relative;
}
.errorNotif > a:hover {
    float: right;
    margin-right: 16px;
    color: rgb(255, 221, 170);
    text-shadow: 0 0 12px #ffac68;
}

/* funny spinball thingssss ii wanna make out with my wife -ash */
@keyframes flashtext {
	from {opacity: 0.0;}
	to {opacity: 1.0;}
} /* 0.125s */
/* animation: 0.125s step-start 0s 8 normal both running flashtext; */
@keyframes coloranim {
	from { background-position: top 0px left 0px; }
	to { background-position: top -32px left 0px; }
}


@media only screen and (max-width: 600px) {
    .sidebar { left: -256px; transition: left 0.5s; }
    .page-content { margin-left: 0px; padding-right: 0px; padding-top: 120px; transition: filter 0.5s; width: calc(100vw - 20px); height: 100%; }
	.navButton { left: 3px; transition: left 0.5s; visibility: visible; }
    .card { width: calc(100vw - 64px); }
	#navOpen { filter: blur(6px); }
	
	.feed > h1 { width: inherit; }
	
	.text-scroller {
		position: fixed;
		top: 35px;
		left: 0px;
		width: 100vw;
		z-index: -4;
	}
	.mobilenav {
		left: 0px;
		visibility: visible;
	}
}

/* to better fit large screens, double scale literally everything lmao */
@media only screen and (min-width: 2048px) {
    body { transform: scale(2.0); transform-origin: top left; width: 50vw; height: 50vh; overflow-y: hidden; }

    .page-content { width: calc(50vw - 301px); height: calc(50vh - 40px); overflow: scroll; }
    .sidebar { min-height: 50vh; height: 50vh; }
}